.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  h1 {
    margin-bottom: 1rem;
    span {
      color: navy;
      text-decoration-line: underline;
    }
  }
}